body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-size:19px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u1 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:9px;
  width:56px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:280px;
  top:12px;
  width:40px;
  height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u5 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:70px;
  width:60px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:80px;
  top:70px;
  width:230px;
  height:32px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:33px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:110px;
  width:219px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:80px;
  top:130px;
  width:219px;
  height:32px;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:33px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:80px;
  top:170px;
  width:219px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:33px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:13px;
  top:300px;
  width:70px;
  height:16px;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:100px;
  top:300px;
  width:50px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:160px;
  top:300px;
  width:50px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:220px;
  top:300px;
  width:50px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:13px;
  top:326px;
  width:70px;
  height:16px;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:100px;
  top:326px;
  width:50px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:160px;
  top:326px;
  width:50px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u29 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:220px;
  top:326px;
  width:50px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:13px;
  top:353px;
  width:70px;
  height:16px;
  text-align:right;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:120px;
  top:353px;
  width:50px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u35 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:100px;
  top:353px;
  width:20px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u37 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:170px;
  top:353px;
  width:20px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u39 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:90px;
  top:240px;
  width:220px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:17px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:90px;
  top:270px;
  width:220px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:17px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:13px;
  top:240px;
  width:70px;
  height:16px;
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:13px;
  top:270px;
  width:70px;
  height:16px;
  text-align:right;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:10px;
  top:220px;
  width:300px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:14px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u49 {
  position:absolute;
  left:0px;
  top:600px;
  width:320px;
  height:60px;
  font-size:12px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:61px;
}
#u50 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:16px;
  top:610px;
  width:290px;
  height:40px;
  font-size:17px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:41px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:286px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:10px;
  top:400px;
  width:117px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:236px;
  top:441px;
  width:70px;
  height:15px;
  font-size:12px;
}
#u56 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u55_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u57 {
  position:absolute;
  left:156px;
  top:441px;
  width:70px;
  height:15px;
  font-size:12px;
}
#u58 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u57_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u59 {
  position:absolute;
  left:10px;
  top:516px;
  width:296px;
  height:34px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:34px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:12px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u60 {
  position:absolute;
  left:10px;
  top:490px;
  width:117px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:10px;
  top:441px;
  width:146px;
  height:15px;
  font-size:12px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:10px;
  top:416px;
  width:290px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:220px;
  top:400px;
  width:80px;
  height:30px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u67 {
  position:absolute;
  left:350px;
  top:400px;
  width:550px;
  height:260px;
  text-align:left;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:261px;
}
#u68 {
  position:absolute;
  left:2px;
  top:42px;
  width:546px;
  word-wrap:break-word;
}
